# Amade host data directory and container paths (do not put secrets here)
AMADE_PROJECT_HOST_DIR=./amade
AMADE_PROJECT_CONTAINER_DIR=/amade
AMADE_CONFIG_DIR=/amade/config
AMADE_WORKSPACE_DIR=/amade/workspace
AMADE_TEMPLATE_HOST_DIR=./amade/templates
AMADE_TEMPLATE_DIR=/amade/templates
